html{
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 1.3;
}
.flex{
    display: flex;
}
.flex-jc-c{
    justify-content: center;
}
.flex-ai-c{
    align-items: center;
}
header{
    /* width: 50px; */
    position: relative;
    justify-content: space-around;
    padding: 15px;
    /* box-shadow: 1px 1px 10px grey; */
}
.hamburger{
    display: none;
}
.hamburger span{
    display: block ;
    width:26px;
   
    height:3px;
    background-color: darkblue;

}
.hamburger span:not(:last-child){
    margin-bottom: 3px;
}
.nav-bar a{
    position: relative;
    font-weight: 300;
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}
.nav-bar a:not(:last-child){
    margin-right: 16px;
}
.nav-bar a::after{
    content: '';
    
    position: absolute;
    display: block;
    left: 0;
    bottom: -15px;
    right: 0;   
    width: 100%;
    height: 3px; 
}

.nav-bar a:hover{
    color: darkblue;
}
.nav-bar a:hover::after{
    background-color: lime;
 
    
}
.nav-bar-req-btn{
    background: linear-gradient(to left ,hsl(192, 70%, 51%),hsl(136, 65%, 51%));
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    width: 130px;
    height: 35px;
}

.req-btn{
    background: linear-gradient(to left ,hsl(192, 70%, 51%),hsl(136, 65%, 51%));
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    width: 130px;
    height: 35px;
}




.hero{
    display: flex;
    /* margin-left: 120px; */
    background: rgb(243, 242, 242);
}
.hero-desc{
    
    width: 70px;    
    /* padding-left: 80px;
    padding-top: 80px; */
    /* margin: 100px; */
    /* position: relative; */
    text-align: left;
    flex:2;
    height: 41rem;
    padding: 10% 5%;
}
.hero-desc h1{
    font-size: 52px;
    /* color: magenta; */
    font-weight: 300;
}
.hero img{
    display: none;
}
.hero-image{
    position: relative;
    flex:3;
    /* background-image: none; */
    /* height: 41rem; */
    overflow: hidden;
    
}
.hero-image::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/images/image-mockups.png);
    background-position: 50% 51%;
    background-repeat: no-repeat;
    background-size: 93%  ;
    left: 20%;
    /* overflow: visible; */
    
}
.hero-image::before{
    /* border: 1px solid magenta; */
    content: "";
    position: absolute;
        height: 100%;
        background-image: url('/images/bg-intro-desktop.svg');        
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 150%;
        background-size: 122%;
        background-position: 0% 83%;
    
    
   
}
.hero-2{
    padding: 100px;
    background: hsl(0, 0%, 98%);

}
.hero-2 h2{
/* font-size: 40px; */
    /* color: magenta; */
    font-weight: 300;
}
.hero-2 p{
    font-size: 16px;
    font-weight: 300;
    margin:0;
}
.hero-2-list{
    font-weight: 300;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap ;
    margin: 45px 15px;
    /* margin-right: 15px; */
}
.hero-2-list li{
    /* flex:0 50%; */
    padding-bottom: 20px;
width: 250px;
margin: auto;
}

.hero-2-list h3{
    font-weight: 300;
}
.articles{
    display: flex;
     justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
    margin: 45px 0px;
    padding: 0 100px;
    
}
.articles :not(:last-child){
    padding-right: 10px;
}
 h3{
    font-weight: 300;
}
h4{
    font-weight: 100;
    font-size: 14px;
}
.article img{
    width: 100%;
    height: 150px; 
    
}
.article {
   height: 350px;
    width: 250px;
    margin-bottom: 10px;
}
.article p{
    font-size: 15px;
}
footer{
    height: 150px;
    background: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    font-weight: 300;
}
footer ul li{
    font-size: 14px;
    list-style: none;
}
.footer-logo path{
    fill: white;
    /* filter: invert(1); */
}
.footer-3 p{
font-size: 12px;
margin: 0;
padding-top: 15px;
}
.footer-1 svg{
   margin-bottom: 30px;
}
.articles-title{
    margin-left:110px;
}
@media only screen and (max-width: 768px){
    .overlay{
        position: absolute;
        background:hsl(0, 0%, 98%);
        height:100vh;
        width: 100%;
        
    }



    .nav-bar a:not(:last-child){
        margin: 0;
    }
    .nav-bar a::after{
        display: none;
    }
    .nav-bar{
        z-index: 999;
        border-radius: 5px;
        margin: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        text-align: center;
        width: 80%;
       
        background-color: white;
        font-size: 18px;
        top:60px;
       
        transform: translateX(-50%);
        left:-50%;
        transition: 0.5s ease-in-out;
        
    }
    .nav-bar a{
        margin: 0px;
        padding-bottom: 20px;
    }
    .nav-bar-req-btn{
        display: none;
    }

    header{
        justify-content: space-between;
        align-items: center;
    }


    .hamburger{
        display: block  ;
        
    }
    .hamburger span{
        transition: 0.5s ease-in-out;
        transform-origin: 0 0;
    }
    .hamburger-close span:nth-child(1){
        transform: rotate(45deg) translate(-3px, -7px);
    }
    .hamburger-close span:nth-child(2){
        Transform: scaleX(0);
    }
    .hamburger-close span:nth-child(3){
        transform: rotate(-45deg) translate(1px, 0);
    }
    .articles{
        padding:0;
        margin: 20px;
    }
    .hero-2{
        padding: 50px;
    }
    .articles-title{
        margin:0;
        margin-left: 30px;
        padding:10px;
    }


    footer{
        height: 100%;
        display: block;
        text-align: center;
        margin:0;
        padding: 0;
    }
    .footer-1{
        /* text-align: center; */
        margin-bottom: 10px;
        /* padding-left:20px ; */
    }

    .footer-1 svg{
        margin-bottom: 10px;
     }
     footer ul{
         padding: 0;
         margin: 0;
     }
     footer ul li{
         padding: 0;
         /* text-align: center; */
         margin-bottom: 10px;
     }
     .footer-3 p{
         padding-top: 0;
     }
     .footer-3{
         padding-bottom: 10px;
     }
     .footer-3 *{
         margin-bottom: 10px;
     }
     .hero-image::after{
         display: none;

     }
     .hero{
         position: relative;
         display: table;
         display: flex;
         flex-direction: column-reverse;
         overflow: hidden;
     }
     .hero-desc{
        
         text-align: center;
         
         padding: 0 auto;
         padding-top: 0px;
         height: 400px;
         width: 100%;
     }
     .hero-desc h1{
         font-size: 34px;
     }
     .hero-desc p{
         text-align: justify;
         padding: 0 10px;
         font-weight: 300;
         font-size: 15px;
     }
     .hero-image::before{
         display: none;
       
     }
     .hero img{
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .hero-image{
        background-image: url("./images/image-mockups.png");
        position: absolute;
        /* background-position: 50% 51%; */
        background-repeat: no-repeat;
        background-size: 100%  ;
        width: 100%;
        height: 100%;
        top:-100px;
        overflow: hidden;
    }
     
}